[name="message"] {
  border-radius: 50px;
  /* text-align: center; */
  padding: 15px 20px !important;
  margin: 0px 10px !important;
  background-color: #ffffff !important;
  /* box-shadow: -0px 0px 5px #dddddd; */
}

button#send {
  background: linear-gradient(325deg, rgba(49, 84, 129, 1) 0%, #3b96b0 100%);
  color: #ffffff !important;
}

button i {
  font-size: 25px !important;
  margin-left: 0px !important;
}

button {
  margin: 0px 2.5px;
  background-color: transparent;
  color: #303030 !important;
  border-radius: 50px;
  font-size: 20px;
  padding: 5px 10px !important;
}

button:active {
  transition: 0.05s linear !important;
  transform: scale(1.2, 1.2);
}

button:disabled {
  cursor: default;
  color: #303030 !important;
}

.chat__footer {
  display: flex;
  flex-shrink: 0;
  padding: 5px 15px !important;
  margin: 0px 10px 10px;
  border-radius: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
}

/* Room Chat Window */

.chat {
  display: flex;
}

.chat__sidebar {
  overflow-y: scroll;
  width: 300px;
  height: 100vh;
  background: -moz-linear-gradient(
    125deg,
    rgba(39, 107, 130, 1) 0%,
    rgba(49, 84, 129, 1) 100%
  ); /* ff3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0%, rgba(49, 84, 129, 1)),
    color-stop(100%, rgba(39, 107, 130, 1))
  ); /* safari4+,chrome */
  background: -webkit-linear-gradient(
    125deg,
    rgba(39, 107, 130, 1) 0%,
    rgba(49, 84, 129, 1) 100%
  ); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(
    125deg,
    rgba(39, 107, 130, 1) 0%,
    rgba(49, 84, 129, 1) 100%
  ); /* opera 11.10+ */
  background: -ms-linear-gradient(
    125deg,
    rgba(39, 107, 130, 1) 0%,
    rgba(49, 84, 129, 1) 100%
  ); /* ie10+ */
  background: linear-gradient(
    325deg,
    rgba(39, 107, 130, 1) 0%,
    rgba(49, 84, 129, 1) 100%
  ); /* w3c */
  background: #ffffff;
  border: 1px solid #eaeaea;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  background-image: url("/img/favicon.png");
}

.chat__sidebar h3 {
  /* color: #e6eaee; */
  margin: 10px 20px;
  text-align: left;
}

.chat__sidebar ul {
  list-style-type: none;
}

.chat__sidebar li {
  background: linear-gradient(325deg, rgba(49, 84, 129, 1) 0%, #3b96b0 100%);
  color: #ffffff !important;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.chat__main {
  background-image: url("/img/favicon.png");
  background-size: 5%;
  background-repeat: repeat;
  background-blend-mode: screen;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: #fafafa;
}

.chat__footer form {
  flex-grow: 1;
  display: flex;
}

.chat__footer .other-apps {
  display: flex;
}

.chat__footer input {
  border: none;
  padding: 10px;
  flex-grow: 1;
}

.message {
  padding: 10px;
}

.chat__messages {
  flex-grow: 1;
  overflow-y: auto;
  list-style-type: none;
  padding: 0px 5px;
}

.message__title {
  display: flex;
  margin-bottom: 5px;
}

.message__title h4 {
  font-weight: 600;
  margin-right: 10px;
}

#time {
  color: #999;
  float: right;
  font-size: 0.8rem;
}

@media (max-width: 600px) {
  * {
    font-size: 1rem;
  }

  .showMenu {
    left: 0px !important;
  }

  button#menu-button {
    position: absolute;
    top: 12.5px;
    right: 10px;
    display: block;
    color: rgba(49, 84, 129, 1) !important;
    background: #ffffff;
    border-radius: 10px;
  }

  button#menu-button * {
    font-size: 1.5rem !important;
  }

  button#out-button {
    position: absolute;
    top: 12.5px;
    right: 0px;
    display: block;
    float: right !important;
    color: rgba(49, 84, 129, 1) !important;
    background: #ffffff;
    border-radius: 10px;
  }

  button#out-button * {
    font-size: 1.5rem !important;
  }

  .chat__sidebar {
    position: absolute;
    top: 0px;
    left: -1000px;
    width: 300px;
    height: 100%;
    z-index: 2999;
    box-shadow: 30px 0px 50vh #adadad41;
  }

  .chat__main {
    background-size: 20% !important;
  }

  .chat__footer button {
    margin-right: 0px;
  }
}

.admin {
  margin: 2.5px 0px;
  text-align: center !important;
}

.admin .admin {
  display: inline-block;
  padding: 5px 10px;
  background-color: #ffffff;
  /* box-shadow: 1px 1px 5px #dddddd; */
  border-radius: 50px;
  border: 1px solid #eeeeee;
}

.admin .message__title {
  display: inline-flex;
  margin: 0px;
}

.admin #name {
  margin: 0px !important;
}

.admin #time {
  display: none;
}

.admin .message__body {
  display: inline-block;
}

li.message {
  width: 100%;
  float: left;
}

.__me a {
  color: #ffffff !important;
}

.message div.__me {
  border-radius: 10px 10px 0px;
  background: linear-gradient(325deg, rgba(49, 84, 129, 1) 0%, #3b96b0 100%);
  float: right;
  color: #ffffff !important;
}

.message div.others {
  border-radius: 0px 10px 10px;
  background: #ffffff !important;
  border: 1px solid #eaeaea;
  /* box-shadow: 1px 1px 1px #dddddd; */
  float: left;
}

.message div.__me .message__title,
.message div.__me .message__title #name {
  display: none;
  margin: none;
}

.message div.others .message__body {
  color: #303030;
}

.message div.others,
.message div.__me {
  padding: 10px 20px;
  max-width: 300px !important;
  /* box-shadow: 1px 1px 3px lightgrey; */
}

.message div.__me .message__body p,
.message div.others .message__body p {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
  margin-right: 10px;
}

.message div.__me .message__body p #time,
.message div.others .message__body p #time {
  margin-left: 10px;
}

#users li.__me {
  font-weight: 600;
}

/* End of Room Chat Window */
